body {
  color: blue
}

h2 {
  text-align: center;
}

ul.nav {
  list-style-type: none;
  padding: 0;
  margin: 0;
  text-align: center;
}

.nav li {
  display: inline-block;
  padding: 10px;
}

#education {
  height: 100vh;
  background-color: green;
}

#experience {
  height: 100vh;
  background-color: red;
}

#skills {
  height: 100vh;
  background-color: pink;
}
#education, #experience, #skills p {
  font-style: italic;
}
p.test {
  text-align: center;
}
