body {
  color: blue;
  background-color: #C3E1EB;
}

h2 {
  text-align: center;
}

ul.nav {
  list-style-type: none;
  padding: 0;
  margin: 0;
  text-align: center;
}

.nav li {
  display: inline-block;
  padding: 10px;
}

.important {
  font-weight: bold;
}

#education {
  height: 100vh;
}

#experience {
  height: 100vh;
}

#skills {
  height: 100vh;
}
#education, #experience, #skills p {
  font-style: italic;
  font-size: 2em;
}
p.test {
  text-align: center;
}
